
html {
    height: 100%;
    background: linear-gradient(rgb(11, 19, 246), rgb(38, 186, 9));
}

.wrap {
   display: flex;
   flex-direction: column;
   align-items: center;
   

}

.title {
   color: rgb(251, 249, 248);
   font-size: 60px;
   /* padding: 20px 0px 20px 0px; */
   font-family: "Jersey 10";
   margin-bottom: 10px;
}

.playlistContainer {
   border: 7px solid rgb(100, 99, 100);
   border-radius: 60px;
   text-align: center;
   padding: 20px 30px 2px 30px;
   box-shadow: 0px 15px 25px rgb(230, 237, 160);
   background-color: rgb(226, 225, 222);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.imageContainer {
   padding: 20px;
   /* box-shadow: 30px 30px 30px rgb(93, 95, 96); */
   /* border: 1px solid yellow; */
}

img {
   width: 200px;
   box-shadow: 10px 5px 10px rgb(130, 130, 130);
   /* border-radius: 50%; */
}

.progress {
   background-color: rgb(142, 137, 137);
   height: 100%;
   position: relative;
   width: 0%;
   border-radius: 50%;
}

.nameWrap {
   margin-bottom: 25px;
   font-size: 20px;
   display: inline-block;
}

.artistName {
   width: 350px;
   margin-bottom: 20px;
   display: inline-block;
   font-size: 20px;
}

.songName {
   font-size: 25px;
   margin-bottom: 10px;
   font-weight: 600;
}

.icons {
   margin: 25px;
   cursor: pointer;
}


i {
   display: inline-block;
   color: white;
   background: rgb(16, 16, 16);
   border-radius: 50%;
   padding: 15px;

}

i:hover {
   background-color: rgb(59, 58, 58);
}

i:nth-child(2) {
   width: 35px;
   text-align: center;
   font-size: 30px;
   padding: 25px;

}

.progress {
   -webkit-appearance: none;
   width: 100%;
   height: 5px;
   border-radius: 0%;
   background-color: black;
   cursor: pointer;
   margin-top: 15px;
   outline: none;
   /* overflow:hidden; */
}


.progress::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   height: 15px;
   width: 15px;
   border-radius: 50%;
   background-color: rgb(60, 44, 236);
}

.progress::-moz-range-track {
   width: 100%;
   height: 1px;
   cursor: pointer;
   background: linear-gradient(to right, #080e09 100%, #0b0b0b 100%);
   border-radius: 10px;
}

.progress::-moz-range-thumb {
   width: 12px;
   height: 5px;
   border-radius: 5px;
   background: #181818;
   cursor: pointer;
}

.progress::-webkit-slider-runnable-track {
   background: linear-gradient(to right, #070707 var(--progress), #eeecec 0%);
   border-radius: 10px;
   height: 15px;
}

.progress::-moz-range-progress {
   background-color: #f7f8f7;
   height: 3px;
   border-radius: 1%;
}

.progress::-moz-range-track {
   background: #f0efef;
   height: 30px;
   border-radius: 5px;
}

.durationContainer {
   position: relative;
   display: flex;
   justify-content: space-between;
}